html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

p{
    margin-left: 10px;
}
.center {
  margin-top: 0px;
  margin-bottom: auto;
  top:0;
}
.under{
    position:absolute;
    bottom:20px;
    
}